#wrapper {
  background-size: cover;
  background-color: #E2E2E2;
  min-height: 100vh;
  max-height: auto;
}

header {
  max-width: 100%;
  max-height: 15vh;
}

/* .header-div {
  position: fixed;
  top: 0;
  z-index: 999;
} */

#headerborder {
  background-color: #4B62C3;
  height: 15px;
  width: 100%;
  /* float: left; */
  position: fixed;
  z-index: 9999;
}

.header-hidden {
  height: 30px;
  width: 100%;
  background-color: none;
  background-color: #E2E2E2;
}

.menuBar {
  background-color: #0099CA;
  padding: 1%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  clear: both;
  justify-content: space-between;
}

.logo {
  min-height: 40px;
  max-height: 13%;
  min-width: 200px;
  max-width: 35%;
  float: left;
  /* margin-left: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-right: 3%; */
  filter: contrast(150%);
}

.account-picture {
  max-width: 5vw;
  float: right;
}

.header-hidden-info-account {
  float: left;
  margin-right: 10px;
}

.header-hidden-info {
  float: right;
  clear: right;
  margin: 15px 0 0 0 ;
  font-size: 10px;
  text-decoration: none;
}

.header-hidden-info-logout {
  float: left;
  margin-right: 10px;
  text-decoration: none;
}

.main-body {
  min-height: 100vh;
  max-height: auto;
  width: 100%;
}

.table-overflow {
  overflow: auto;
}

.table-display {
  max-width: 86vw;
  margin: 0;
  min-height: 70vh;
  /* overflow: auto; */
  float: left;
}

.table {
  width: 78%;
  margin: 2% 2% 0 9%;
  white-space: nowrap;
}

.text-nowrap {
  margin-right: 3%;
}

.show-corresponse {
  width: 20%;
  height: 80vh;
  margin: 2.3% 2% 2% 78%;
  float: right;
  position: fixed;
}

.show-corresponse-display {
  height: 50vh;
  min-width: 200px;
  background-color: #0099CA;
  /* position: -webkit-sticky;
  position: sticky; */
  margin-bottom: 2vh;
  /* display: flex; */
}

.show-corresponse-display-detail {
  background-color: #E2E2E2;
  min-height: 8vh;
  width: 19vw;
  float: left;
  margin: 2%;
  border-radius: 8%;
}

.show-corresponse-display-account-picture {
  max-width: 3vw;
  float: left;
  border-radius: 50%;
  margin: 1%;
}

.show-corresponse-output {
  height: 20vh;
  min-width: 200px;
  background-color: #0099CA;
  /* position: -webkit-sticky;
  position: sticky; */
}

.show-corresponse-issue {
  background-color: #E2E2E2;
  min-height: 16vh;
  width: 19vw;
  float: left;
  margin: 2%;
  border-radius: 8%;
}

.issue-button {
  font-size: 10px;
  float: right;
  margin: 0 2% 3% 0;
}

.input-or-signin {
  float: right;
  margin-right: 10px;
}

ul li {
  list-style: none;
  margin-bottom: 1px;
}

label {
  margin: 5px;
  width: 80px;
}

.login-submit {
  float: right;
  margin-right: 1px;
  padding: 0;
}

#signin-or-temporary-login {
  float: right;
  clear: right;
  margin-top: 8px;
  margin-right:13px;
  text-align: right;
}

.signin-or-temporary-login {
  text-decoration: none;
}

.title-box {
  width: 100%;
  float: inherit;
  min-height: 40vh;
  max-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  min-width: 20%;
  max-width: 80%;
  filter: contrast(150%);
}

.page-top-guidence {
  min-height: 3vh;
  margin-bottom: 10px;
}

.page-top-guidence-1 {
  float: left;
  margin-top: 1%;
  margin-left: 2%;
}

.page-top-guidence-2 {
  float: left;
  margin-top: 1%;
  margin-left: 2%;
  color: #011993;
}

.signin-info, .user-info, .input-info {
  clear: left;
  margin: 2% 0 0 4%;
  min-height: 85vh;
  height: auto;
  min-width: 80%;
}

.signin-info-item, .sample-info-item{
  clear: both;
  min-width: 70%;
  min-height: 6vh;
}

.signin-info-item-title, .sample-info-item-title {
  float: left;
  min-width: 90%;
  max-width: 100%;
}

.signin-info-item-input, .sample-info-item-input {
  float: left;
  margin-right: 5%;
}

.sample-info-item-input-show {
  float: left;
  min-width: 13%;
  margin-right: 5%;
}

.sample-info-item-input-data {
  margin-right: 30%;
  margin-left: 4vh;
}


.sample-info-item-input {
  width: 100%;
}

.signin-info-item-input-textbox {
  min-width: 50px;
  margin: 0 0 5px 0;
}

.sample-info-item-input-text {
  width: 250px;
}

.sample-info-item-input-show {
  margin: 0 0 5px 4vh;
  width: 100px;
}

.sample-info-item-input-show-detail {
  float: right;
  min-width: 60%;
  margin-left: 4vh;
}

#proceed-update-date, #proceed-update-schedule, #proceed-estimated-shift-massproduction, #proceed-estimated-shift-massproduction, #relations-history-sharing-info {
  width: 250px;
}

.sample-info-item-input-textbox {
  min-width: 100px;
  margin: 0 0 5px 0;
}

.sample-info-item-input-block {
  float: left;
  margin-left: 4vh;
  min-width: 65px;
}

#sample-input-comment {
  float: left;
  margin-left: 4vh;
  margin-bottom: 2vh;
  width: 815px;
  max-width: 90%;
  height: 75px;
}

.input-caution {
  float: left;
}

p {
  margin-bottom: 0;
  font-size: 10px;
}

.get-back-button {
  width: 120px;
  float: right;
  margin-right: 3vw;
}

.submit-signin-info {
  width: 120px;
  float: right;
  margin-right: 3vw;
}

.buttons {
  min-height: 8vh;
  width: 80%;
}

footer {
  height: auto;
}

.copy-right {
  width: 100%;
  font-size: 10px;
  background-color: #4B62C3;
  color: #fff;
  text-align: center;
  padding: 0;
  clear: both;
  min-height: 13px;
  max-height: 7%;
  position: relative;
  bottom: 0; /*下に固定*/
}

.bottom {
  font-size: 10px;
  width: 100%;
  background-color: #4B62C3;
  color: #fff;
  text-align: center;
  padding: 0;
  min-height: 10px;
  max-height: 7%;
  position: sticky;/*←絶対位置*/
  bottom: 0; /*下に固定*/
}

.toppage-bottom {
  font-size: 10px;
  width: 100%;
  background-color: #4B62C3;
  color: #fff;
  text-align: center;
  padding: 0;
  min-height: 10px;
  max-height: 7%;
  position: absolute;/*←絶対位置*/
  bottom: 0; /*下に固定*/
}
