<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/index.css">
  <title>HITS! Signin Confirmation</title>
</head>
<body id="wrapper">
  <header>
    <div id="headerborder"></div>
    <div class="header-hidden">
      <ul class="header-hidden-info">
        <li class="header-hidden-info-account">こんにちはアカウントさん</li>
        <li class="header-hidden-info-logout"><a class="header-hidden-info-logout" href="@@@">logout</a></li>
      </ul>
    </div>
    <div class="menuBar">
        <img class="logo" src="images/logo&title.png" alt="HITS!LOGO">
    </div>
  </header>
  <div class="body">
    <div class="signin-info">
      <div class="page-top-guidence">
        <p class="page-top-input-confirmation">入力内容をご確認ください</p>
      </div>
      <div class="signin-info">
        <dl class="signin-info-item">
          <dt class="signin-info-item-title">名前*</dt>
          <dd class="signin-info-item-input">入力された姓を表示</dd>
          <dd class="signin-info-item-input">入力された名を表示</dd>
        </dl>

        <dl class="signin-info-item">
          <dt class="signin-info-item-title">ナマエ</dt>
          <dd class="signin-info-item-input">入力されたセイを表示</dd>
          <dd class="signin-info-item-input">入力された名を表示</dd>
        </dl>

        <dl class="signin-info-item">
          <dt class="signin-info-item-title">NAME*</dt>
          <dd class="signin-info-item-input">入力されたLast Nameを表示</dd>
          <dd class="signin-info-item-input">入力されたFirst Nameを表示</dd>
        </dl>

        <dl class="signin-info-item">
          <dt class="signin-info-item-title">EMAIL*</dt>
          <dd class="signin-info-item-input">入力されたメールアドレスを表示</dd>
        </dl>

        <dl class="signin-info-item">
          <dt class="signin-info-item-title">TEL</dt>
          <dd class="signin-info-item-input">入力された電話番号を表示</dd>
        </dl>

        <dl class="signin-info-item">
          <dt class="signin-info-item-title">IMAGE</dt>
          <dd class="signin-info-item-input">入力された画像を表示</dd>
        </dl>

        <div class="buttons">
          <input class="submit-signin-info" type="submit" value="Go Confirm">
          <input class="get-back-button" type="button" value="Get Back">
        </div>
      </div>
    </div>
  </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    -->
</body>
<footer>
  <div class="copy-right">
    <small>Copyright &copy;HITS! All Rights Reserved.</small>
  </div>
</footer>
</html>